@import "tailwindcss";

@theme {
  --color-primary: #047857; /* Emerald 700 */
  --color-primary-dark: #065f46; /* Emerald 800 */
  --color-bg: #f8fafc; /* Slate 50 */
  --color-text: #0f172a; /* Slate 900 */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
